span.sex, span.position, span.mainPage, span.Email {
    margin-left: 30px;
}
u {
    color: blue;
}
body {
    width: 90%;
    margin: 0 auto;
}
div.child{
        margin-bottom: 5px;
}
.title p{
        padding: 20px 0 0 20px;
}
div.childTitle p {
	padding-top: 20px;
	padding-left: 20px;
}
div.title {
    width: 800px;
    height: 80px;
    background-color: #6f6868;
}
div.title h1{
	padding-top: 10px;
	padding-left: 10px;
	color: white;
}
div.childTitle {
    padding: auto;
    width: 100px;
    float: left;
    height: 100px;
    background-color: #c7bbbb;
}
div.childOther {
    width: 700px;
    float: right;
    height: 100px;background: #eee;
}
div.child {
    width: 800px;
    height: 100px;
}
p.childOther{
    padding-left: 20px;
}
